
* {
    margin: 0px;
    padding: 0px;   
}

#website {
    width: 75%;
    height: auto;
    min-height: 500px;
    margin: 0px auto;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;
}

#cabecera {
    background-color: blue;
    color: #fff;
    grid-column: 1 / 6;
    display: flex; /* ESTA LINEA JUNTO CON LAS DOS MAS QUE LE SIGUEN SOON PARA ALINEAR VERTICAL Y HORIZONTAL */
    align-items: center;  /* ALINEACION VERTICAL */
    justify-content: center;  /* ALINEACION HORIZONTAL */
}

#menu {
    background-color: lightblue;
    color: #000;
    grid-column: 1 / 6;    
}

#menu ul {
    display: grid;
    grid-template-columns: 30% repeat(9, 1fr);
    list-style: none;
}

#contenido {
    background-color: #eee;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 10px;

}

#contenido article {
    background-color: #ccc;
    border: 1px solid #555;
}

#lateral {
    background-color: orange;
    color: #fff;
    grid-column: 5 / 6;
}

#pie-pagina {
    background-color: #000;
    color: #fff;
    grid-column: 1 / 6;
}



